{% extends "layout.html" %}

{% block body %}

aaaaaa
<!--
<main class="container-fluid py-5 text-center">
<section class="jumbotron text-center">
    <div class="container">
        <image src="pic/lab.jpg" alt="lab" id='lab_index' style="width:80%; height:80%; opacity: 0.25"></image>       
      <h1><span class="black">Tao's Multi-scale Electrochemistry Lab </span> <span class="badge badge-primary">Meel</span></h1>
      <p class="lead text-muted"><b>Meel </b> aim to address energy and environmental challenges of our society with electrochemical engineering.
      Currently, we focus on Li-ion batteries, redox flow batteries and metal anodes.
      Our approaches are multi-scale: we are not only interested in the materials and interfaces at the atomistic scale, but also the reaction and transport happening at the meso-scale.
      In addition to that, we also look at the electrochemical devices at the system scale, trying to combine physical understanding with data-driven methods to better use these technologies.</p>
      <p>
        <a href="#" class="btn btn-secondary my-2">Research</a>
        <a href="#" class="btn btn-secondary my-2">Team</a>
        <a href="#" class="btn btn-secondary my-2">Publications</a>
        <a href="news.html" class="btn btn-secondary my-2">News</a>

      </p>
    </div>
  </main>
</section>
-->
{% endblock %}
<!--
  <div class="album py-5">
<div class="container">
<h2 style="color:#696969"> Featured Research </h2>
<br />
<div class="row">
<div class="col-md-6">
<div class="card mb-6 shadow-sm">
<image src="/statics/pic/tg.jpeg" alt="tao in lab" class="card-img-top" style="height:60%"></image>
<div class="card-body">
  <h5 class="card-title">Dr. Gao's research featured by KUTV</h5>
  <p class="card-text"><i>"U of U professor finds new inroads in fast charging for some batteries"</i></p>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://kutv.com/news/local/u-of-u-professor-finds-new-inroads-in-fast-charging-for-some-batteries" style="color:grey">View</a></button>
      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="heart_control()" id="heart1">&#9825 Like</button>

    </div>
  </div>
</div>
</div>
</div>

<div class="col-md-6">
<div class="card mb-6 shadow-sm">
<image src="statics/pic/Li-ion+Batteries.png" alt="lion battery" class="card-img-top"></image>
<div class="card-body">
  <h5 class="card-title">Li plating on a graphite particle, featured by Fox 13</h5>
  <p class="card-text"><i>"Utah researchers take the first step towards charging batteries faster"</i></p>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.fox13now.com/news/technology/utah-researchers-take-the-first-step-towards-charging-batteries-faster" style="color:grey">View</a></button>
    </div>

  </div>
</div>
</div>
</div>

<div class="col-md-6">
<div class="card mb-6 shadow-sm">
<image src="/statics/pic/VF.jpeg" alt="VF" class="card-img-top"></image>
<div class="card-body">
  <h5 class="card-title">Control figures by two fliud</h5>
  <p class="card-text">Control figures by two fliud </p>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    </div>
  </div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card mb-6 shadow-sm">
  <image src="/statics/pic/water.jpeg" alt="VF" class="card-img-top"></image>
  <div class="card-body">
  <h5 class="card-title">Device for small scale water desalination</h5>

  <p class="card-text">device for small scale water desalination </p>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    </div>
  </div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>


<div class="album py-5 bg-light">
<div class="container">
<h2 style="color:#696969"> Contact</h2>
<br />
<ul class="list-unstyled">
<li><a href="https://twitter.com/TaoGao_Utah" class="text-grey">Follow on Twitter</a></li>
<li><a href="#" class="text-grey">Like on Facebook</a></li>
<li><a href="mailto:taogao@chemeng.utah.edu" class="text-grey">Email me</a></li>
</ul>
</div>
</div>
</div>
-->

